.carousel-inside {
    font-size: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 2px;
    background: deepskyblue;
    color: white;
    padding: 4px;
}

.card-log {
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}